@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto",Arial, Helvetica, sans-serif;
}
main{
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container {
    width: 400px;
    height: 90vh;
     /* border: 1px solid red; */
     border-radius: 20px;
     position: relative;
     background-color: #FFFFF2;
     background-color: #FCF7FF;
     background-color:  	 	#faf3f9;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 20px;
}
nav{
    width: 95%;
    text-align: center;
    background-color: #878C8F;
    background-color: #02182B;
    background-color: orangered;
    background-color:  #c4146c;
    color: white;
    padding: 20px 0;
    font-weight: 700;
    font-size: 1.5rem;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}



.profile-holder{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 80%;
    width: 95%;

}
.profile{
    /* background-color: red; */
    height: 77%;
    width: 100%;
    /* border: 2px solid black; */
    border-radius: 10px;
    
}
.profile img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
    gap: 3px;
    background-color: #c4146c;
    color: #02182B;
    color: #0B0014;
    height: 25%;
}
.name{
font-size: 1.6rem;
color: white;
}
.dob{
font-size: 1.1rem;
    color: white;
}
.city{
font-size: 1.1rem;
    color: white;
}
.btn-holder{
    position: relative;
}
.buttons{
    display: flex ;
    position: absolute;
  bottom: 165px;
  right: -106px;
}

.fa-solid{
    font-size:3rem;
    margin: 0 10px;
    cursor: pointer;
}
.fa-thumbs-up{
    color: rgb(255, 255, 255);
}
.fa-heart{
    color: rgb(255, 255, 255);
}
.fa-thumbs-down{
    color: rgb(255, 255, 255);
}
.fa-thumbs-up:hover{
    color: blue;
    transform: scale(1.2);
}
.fa-heart:hover{
    color: red;
    transform: scale(1.2);
}
.fa-thumbs-down:hover{
    color: grey;
    transform: scale(1.2);
}



/* ---------------------------INPUT form ----------------------- */

.form-holder{
    /* border: 1px solid black; */
    height: 80%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    height: 90%;
    width: 90%;
    display: flex;
flex-direction: column;
    gap: 20px;
    font-size: 1.2rem;
}
input{
    border-radius: 5px;
    width: 100%;
    height: 35px;
}
select {
    border-radius: 5px;
    width: 100%;
    height: 30px;
    background-color: white;
    font-size: 1rem;
}
input[type="submit"]{
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color:  	#c4146c;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}
input[type="submit"]:hover{
    border-radius: 5px;
    width: 100%;
    height: 50px;
    background-color:  	#7e0e46;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}


/* ------------------------Select-gender------- */
.select-gender{
    height: 80%;
    width: 90%;
}


.select-gender-ctn , .gender-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    /* height: 50%; */
    width: 100%;
    gap: 10px;
}
.g-list-ctn{
    width: 100%;
    height: 50%;
}
.gender-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 80%; */
    /* height: 50%; */
    width: 100%;
    gap: 10px;
}
.select-gender-ctn p{
    font-size: 1.3rem;
}
button{
    width: 100%;
    height: 40px;
    background-color: #c4146c;
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 5px;
}
button:hover{
    background-color: #7e0e46;
    color: white;
}

.hide{
    display: none;
}
.show {
    display: flex;
    width: 400px;
}

.grey{
    color: grey;
}
.red{
    color: red;
}
.blue{
    color: blue;
}
.card-in{
    animation: cardin 0.5s forwards 1 ease-in-out;
    transition: 0.5s ease-in;
}
@keyframes cardin {
    from{
    transform: scale(0);
        opacity: 0;
    }
    to{
    transform: scale(1);
        opacity: 1;
    }
}

.swipe-left{
    animation: cardleft 0.5s forwards 1 ease-in-out;
    transition: 0.5s ease-in;
}

@keyframes cardleft {
    from{
        transform-origin: bottom center;
    transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
    to{
        transform-origin: bottom center;
    transform: translateX(-300px) rotate(-30deg);
        opacity: 0;
    }
}
.swipe-right{
    animation: cardright 0.5s forwards 1 ease-in-out;
    transition: 0.5s ease-in;
}

@keyframes cardright {
    from{
        transform-origin: bottom center;
    transform: translateX(0px) rotate(0deg);
        opacity: 1;
    }
    to{
        transform-origin: bottom center;
    transform: translateX(300px) rotate(30deg);
        opacity: 0;
    }
}
.swipe-up{
    animation: cardup 0.5s forwards 1 ease-in-out;
    transition: 0.5s ease-in;
    position: relative;
    z-index: 0;
}

@keyframes cardup {
    from{
    transform: translateX(0px);
        opacity: 1;
    }
    to{
    transform: translatey(-500px);
        opacity: 0;
    }
}



/* loader animation */

.loader {
    display: none;
    position: fixed;
    bottom: 125px;
    width: 350px;
    height: 350px;
    background:
        linear-gradient(0.25turn, transparent, #FFF, transparent),
        linear-gradient(#DDD, #DDD),
        linear-gradient(#DDD, #DDD),
        linear-gradient(#DDD, #DDD);
    background-color: #fff;
    background-repeat: no-repeat;
    background-size: 115px 315px, 300px 230px, 250px 15px, 250px 15px;
    background-position: -215px 0, 25px 25px, 25px 270px, 25px 300px;
    animation: loading 1.5s infinite;
}

@keyframes loading {
  to {
    background-position: 215px 0, 25px 25px, 25px 270px, 25px 300px;
  }
}





@media only screen and (max-with: 500px){
.container {
    width: 95vw;
    height: 90vh;
}
.fa-thumbs-up:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}
.fa-heart:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}
.fa-thumbs-down:hover{
    color: rgb(255, 255, 255);
    transform: scale(1.2);
}
}
